<!DOCTYPE html>
<html>
  <head>
    <title>Favorites</title>
    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="page1.css")}}>
  </head>
  <body>
    <h1>What is the high level idea of the story you want to create?</h1>
    <form action="#" method="post">
      <input type="text" name="idea" placeholder="Please leave empty if you have no highlevel idea. We will suggest some for you.">
      <br><br>
      <input type="submit" value="Submit">
      <ul>
      <input type="submit"  name="action1" value="Horror">
      <input type="submit"   name="action2" value="Comedy">
      <input type="submit"    name="action3" value="Adventure">
      </ul>
    </form>


  </body>
</html>
